<h1>Criar Oficina</h1>
{{#if showQuerySuccess}}
    <h2 id="query-success-message">Dados coletados da Receita Federal</h2>
{{/if}}

{{#paper-form onSubmit=(action "create") as |form|}}
<div class="layout layout-sm-column">
    {{form.input id="cnpj" class="flex-30" label="CNPJ"
        value=model.cnpj onChange=(action (mut model.cnpj))
        onBlur=(action "queryCNPJ" model.cnpj)
        disabled=disableChanges
        customValidations=cnpjValidation
        required=true
        errors=cnpjValidationErrors
        errorMessages=(hash
            required="Campo obrigatório."
        )}}
    {{form.input id="email" class="flex-30" label="E-mail"
        value=model.email onChange=(action (mut model.email))}}
</div>
<div class="layout layout-sm-column">
    {{form.input id="nome-fantasia" class="flex-30" label="Nome Fantasia"
        value=model.tradeName onChange=(action (mut model.tradeName))}}
    {{form.input id="razao-social" class="flex-30" label="Razão Social"
        value=model.companyName onChange=(action (mut model.companyName))
        disabled=disableChanges}}
</div>
<div class="layout layout-sm-column">
    {{form.input id="endereco" class="flex-30" label="Endereço"
        value=model.address onChange=(action (mut model.address))}}
    {{form.input id="telefone" class="flex-30" label="Telefone"
        value=model.phone onChange=(action (mut model.phone))}}
</div>

<div class="layout-row">
    {{#form.submit-button id="salvar-button" raised="true" primary="true"}}
        Salvar
    {{/form.submit-button}}

    {{#link-to "workshop"}}
        {{#paper-button id="back-button" raised="true"}}
            Voltar
        {{/paper-button}}
    {{/link-to}}
</div>
{{/paper-form}}
