<h1>Criar Oficina</h1>
{{#if showQuerySuccess}}
    <h2 id="query-success-message">Dados coletados da Receita Federal</h2>
{{/if}}

{{#paper-form onSubmit=(action "create") as |form|}}
<div class="layout layout-sm-column">
    {{form.input id="cnpj" class="flex-30" label="CNPJ"
        value=cnpj onChange=(action (mut cnpj))
        onBlur=(action "queryCNPJ" cnpj)
        disabled=disableChanges
        customValidations=cnpjValidation
        required=true
        errors=cnpjValidationErrors
        errorMessages=(hash
            required="Campo obrigatório."
        )}}
    {{form.input id="email" type="email" class="flex-30" label="Email" icon="email"
        value=email onChange=(action (mut email))
        required=true
        customValidations=emailValidation
        errorMessages=(hash
            required="Campo obrigatório."
        )}}
</div>
<div class="layout layout-sm-column">
    {{form.input id="nome-fantasia" class="flex-30" label="Nome Fantasia"
        value=tradeName onChange=(action (mut tradeName))}}
    {{form.input id="razao-social" class="flex-30" label="Razão Social"
        value=companyName onChange=(action (mut companyName))
        disabled=disableChanges}}
</div>
<div class="layout layout-sm-column">
    {{form.input id="endereco" class="flex-30" label="Endereço"
        value=address onChange=(action (mut address))}}
    {{form.input phone-number-input id="telefone" class="flex-30" label="Telefone" icon="phone"
        value=phone onChange=(action (mut phone))}}
</div>

<div class="layout-row">
    {{#form.submit-button id="salvar-button" raised="true" primary="true"}}
        Salvar
    {{/form.submit-button}}

    {{#link-to "workshop"}}
        {{#paper-button id="back-button" raised="true"}}
            Voltar
        {{/paper-button}}
    {{/link-to}}
</div>
{{/paper-form}}
